/**
 *  COPYRIGHT © 2022 MANU BHAT
 *  
 *  ALL RIGHTS RESERVED
 * 
 */
/* Side bar */
#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;

    top: 100px;

    width: 150px;
    height: calc(100vh - 150px);
}

#sidebar a {
    font-family: 'Alegreya';
    font-size: 12px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    margin: 0;
    padding: 0;
    height: 18px;

    position: absolute;
    width: 100%;

    transition: all 0.5s;
}
#sidebar .finished-section {
    color: white;
}
#sidebar .active-section {
    color: yellow;
    font-size: 16.5px;
}
#sidebar .upcoming-section {
    color: white;
}

@media only screen and (max-width: 1050px) {
    #sidebar {
        display: none;
    }
}